body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #ffcdd2;
  background: -webkit-linear-gradient(to bottom, #ffebee #ffcdd2);
  background: linear-gradient(to right, #ffebee, #ffcdd2);
  background-attachment: fixed;
  color: #607D8B;
}

h1 {
  text-align: center;
  padding-top: 50px;
}

h3 {
  text-align: center;
  padding-top: 50px;
}

h4 {
  text-align: center;
}

a:active, a:link, a:visited {
  text-decoration: none;
  color: #607D8B;
}

a:hover {
  color: #EC407A;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  padding: 0;
  margin-top: 30px;
  width: 600px;
  height: 450px;
}

.cover-r {
  position: absolute;
  height: 60%;
  width: 34%;
  top: 20%;
  left: 42%;
  background: #78909C;
  border-radius: 2px;
}

.paper-r {
  position: absolute;
  height: 90%;
  width: 90%;
  top: 5%;
  left: 5%;
  background: #FFF8E1;
  border-radius: 2px;
  box-shadow: 3px 3px silver;
}

.stripe-r {
  position: absolute;
  height: 90%;
  width: 90%;
  top: 5%;
  left: 5%;
  background: none;
  border-radius: 0;
  background: repeating-linear-gradient(to bottom, #FFF8E1, #FFF8E1 4%, #80DEEA 1%, #FFF8E1 5%);
}

.cover-l {
  position: absolute;
  height: 80%;
  width: 34%;
  top: 10%;
  left: 8%;
  background: none;
  border-radius: 2px;
  -webkit-clip-path: polygon(50% 0, 100% 12.5%, 100% 87.5%, 50% 100%);
  clip-path: polygon(50% 0, 100% 12.5%, 100% 87.5%, 50% 100%);
  background: linear-gradient(to right, #78909C, #607D8B);
}

.sticker1 {
  position: absolute;
  height: 60px;
  width: 20px;
  top: -6%;
  left: 10%;
  background: #FF9800;
  border-radius: 0;
  transform: rotate(-5deg);
}

.sticker2 {
  position: absolute;
  height: 60px;
  width: 20px;
  top: -3%;
  left: 25%;
  background: #EC407A;
  border-radius: 0;
  transform: rotate(10deg);
}

.sticker3 {
  position: absolute;
  height: 60px;
  width: 20px;
  top: -4%;
  left: 60%;
  background: #8BC34A;
  border-radius: 0;
  transform: rotate(-10deg);
}

.sticker4 {
  position: absolute;
  height: 60px;
  width: 20px;
  top: 10%;
  left: 85%;
  background: #8BC34A;
  border-radius: 0;
  transform: rotate(80deg);
}

.sticker5 {
  position: absolute;
  height: 60px;
  width: 20px;
  top: 40%;
  left: 83%;
  background: #FF9800;
  border-radius: 0;
  transform: rotate(95deg);
}

.sticker6 {
  position: absolute;
  height: 60px;
  width: 20px;
  top: 15%;
  left: 83%;
  background: #EC407A;
  border-radius: 0;
  transform: rotate(95deg);
}

.sticker7 {
  position: absolute;
  height: 60px;
  width: 20px;
  top: 50%;
  left: 84%;
  background: #EC407A;
  border-radius: 0;
  transform: rotate(87deg);
}

.pencil {
  position: absolute;
  height: 35%;
  width: 2%;
  top: 40%;
  left: 50%;
  background: #FFB74D;
  border-radius: 0;
  -webkit-clip-path: polygon(100% 100%, 100% 30%, 50% 0%, 0 30%, 0 100%);
  clip-path: polygon(100% 100%, 100% 30%, 50% 0%, 0 30%, 0 100%);
  transform: rotate(17deg);
  animation: write 10s infinite linear;
}

@keyframes write {
  10% {
    transform: rotate(10deg);
  }
  20% {
    margin-left: 10px;
    margin-top: 10px;
  }
  30% {
    margin-left: 20px;
    margin-top: 0px;
  }
  40% {
    margin-left: 30px;
    margin-top: 10px;
  }
  50% {
    margin-left: 40px;
    margin-top: 0px;
  }
  60% {
    margin-left: 50px;
    margin-top: 10px;
  }
  70% {
    margin-left: 60px;
    margin-top: 0px;
  }
  80% {
    margin-left: 70px;
    margin-top: 10px;
  }
  90% {
    margin-left: 80px;
    margin-top: 0px;
  }
  100% {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.tip {
  position: absolute;
  height: 10%;
  width: 100%;
  top: 0;
  left: 0;
  background: #263238;
  border-radius: 0;
}

.line-l {
  position: absolute;
  height: 70%;
  width: 30%;
  top: 30%;
  left: 0%;
  background: #F06292;
  border-radius: 0;
}

.line-m {
  position: absolute;
  height: 70%;
  width: 30%;
  top: 30%;
  left: 30%;
  background: #EC407A;
  border-radius: 0;
}

.line-r {
  position: absolute;
  height: 70%;
  width: 32%;
  top: 30%;
  left: 63%;
  background: #F06292;
  border-radius: 0;
}
