h1 #dailycss Day 11: Pizza

.box
  
  .crust
  .slice
    .salami1
    .salami2
    .salami3
    .basil1
    .basil2
    .basil3
    .basil4
  .bite1
  .bite2
  .bite3
  .bite4
  .bite5

a(href="https://anawebdev.surge.sh" target="_blank")
  h3 Ana Toma