h1 #dailycss Day 9: Calendar
.lightning
.box
  .calendar
    table
      tr
        th(colspan="8") November 2017
      tr
        td(class="invisible")
        td(class="invisible")
        td(class="invisible")
        td(class="invisible")
        td(class="invisible")
        td(class="invisible")
        td 1
      tr
        td 2
        td 3
        td 4
        td 5
        td 6
        td 7
        td 8
      tr
        td 9
        td 10
        td 11
        td 12
        td 13
        td 14
        td 15
      tr 
        td 16
        td 17
        td 18
        td 19
        td 20
        td 21
        td 22
      tr
        td 23
        td 24
        td 25
        td 26
        td 27
        td 28
        td 29
      tr 
        td 30
        td 31
        td(class="invisible")
        td(class="invisible")
        td(class="invisible")
        td(class="invisible")
        td(class="invisible")
    .umbrella
      .cover
        .stick
        .handle
       
// make it rain!!!  
      
- for (var x = 0; x < 299; x++)
      .rain

a(href="https://anawebdev.surge.sh" target="_blank")
  h3 Ana Toma
